.Pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.pagination-list {
	display: flex;
	justify-content: center;
	list-style: none;
}

.pages {
	margin: 0 5px;
}

.page-number,
.first-page,
.last-page {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	background-color: #42cf47;
	font-weight: 600;
}

.first-page,
.last-page {
	background-color: #2e2e2e;
	border: 1px solid #42cf47;
	color: #42cf47;
}

.first-page {
	margin-right: 5px;
}

.last-page {
	margin-left: 5px;
}

.page-number:focus {
	background-color: #e5e5e5;
	color: #42cf47;
}

/*media queries*/

@media (min-width: 700px) {
	.pages {
		margin: 0 10px;
	}

	.page-number,
	.first-page,
	.last-page {
		width: 35px;
		height: 35px;
		font-size: 20px;
	}

	.first-page {
		margin-right: 10px;
	}

	.last-page {
		margin-left: 10px;
	}
}

@media (min-width: 900px) {
	.Pagination {
		margin-top: 60px;
	}

	.page-number,
	.first-page,
	.last-page {
		width: 50px;
		height: 50px;
		font-size: 24px;
	}
}

@media (min-width: 1400px) {
	.Pagination {
		margin-top: 80px;
	}

	.pages {
		margin: 0 20px;
	}

	.page-number,
	.first-page,
	.last-page {
		width: 60px;
		height: 60px;
		font-size: 30px;
	}

	.first-page {
		margin-right: 20px;
	}

	.last-page {
		margin-left: 20px;
	}
}

@media (min-width: 2000px) {
	.Pagination {
		margin-top: 100px;
	}

	.pages {
		margin: 0 30px;
	}

	.page-number,
	.first-page,
	.last-page {
		width: 100px;
		height: 100px;
		font-size: 40px;
	}

	.first-page {
		margin-right: 30px;
	}

	.last-page {
		margin-left: 30px;
	}
}
