.Card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px auto;
}

.card-unit {
	width: 300px;
	height: 150px;
	background: #525252;
	border: #2e2e2e 1px solid;
	box-shadow: 0px 5px 3px #11200e;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.card-unit .top {
	height: 40%;
	width: 100%;
	text-align: center;
}

.card-unit .top .repo-name {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}

.Card img {
	width: 16px;
	height: 16px;
}

.card-unit .bottom {
	height: 60%;
	width: 100%;
}

.card-unit .info,
.card-unit .labels {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 300;
}

.card-unit .info {
	align-items: flex-end;
	color: #42cf47;
	font-weight: 500;
}

.card-unit .info-box {
	width: 33%;
	text-align: center;
}

.card-unit .labels {
	font-size: 12px;
}

/*media queries*/

@media (max-width: 350px) {
	.Card {
		width: 90%;
	}

	.card-unit {
		width: 250px;
		height: 125px;
		margin-bottom: 20px;
	}

	.card-unit .top .repo-name {
		font-size: 14px;
	}

	.Card img {
		width: 12px;
		height: 12px;
	}

	.card-unit .info {
		font-size: 14px;
	}
	.card-unit .labels {
		font-size: 12px;
	}
}

@media (min-width: 700px) {
	.Card {
		width: 90%;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 40px;
		justify-content: space-evenly;
	}

	.card-unit {
		width: 300px;
		height: 150px;
		margin-bottom: 50px;
	}

	.card-unit .top .repo-name {
		font-size: 18px;
	}

	.Card img {
		width: 14px;
		height: 14px;
	}

	.card-unit .info {
		font-size: 16px;
	}
	.card-unit .labels {
		font-size: 14px;
	}
}

@media (min-width: 900px) {
	.Card {
		margin-top: 60px;
	}

	.card-unit {
		width: 375px;
		height: 175px;
	}

	.card-unit .top .repo-name {
		font-size: 22px;
	}

	.Card img {
		width: 18px;
		height: 18px;
	}

	.card-unit .info {
		font-size: 20px;
	}
	.card-unit .labels {
		font-size: 16px;
	}
}

@media (min-width: 1400px) {
	.Card {
		margin-top: 80px;
	}

	.card-unit {
		width: 400px;
		height: 200px;
	}

	.card-unit .top .repo-name {
		font-size: 28px;
	}

	.Card img {
		width: 24px;
		height: 24px;
	}

	.card-unit .info {
		font-size: 26px;
	}
	.card-unit .labels {
		font-size: 20px;
	}
}

@media (min-width: 2000px) {
	.Card {
		margin-top: 140px;
	}

	.card-unit {
		width: 700px;
		height: 350px;
	}

	.card-unit .top .repo-name {
		font-size: 50px;
	}

	.Card img {
		width: 38px;
		height: 38px;
	}

	.card-unit .info {
		font-size: 38px;
	}
	.card-unit .labels {
		font-size: 32px;
	}
}
